<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>express-react-bdd-template</title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
  </head>
  <body>
    <nav id="page">
      <h1>express-react-bdd-template</h1>
    </nav>
    <main id="root"></main>
    <script src="/javascripts/bundle.js"></script>
  </body>
</html>
